<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintanace</title>
</head>
<body>
    <p>Currently page is undergoing maintanace. Please visit later</p>

    {{> footer}}
</body>
</html>